.container {
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  padding: 15px;
}
.top-nav {
  height: 150px;
  background-color: green;
}

.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  margin: 15px 0px;
  display: inline-block;
}

.main {
  height: 400px;
  width: 710px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
  margin: 15px 5px 20px 30px;
}

.sub-content {
  height: 190px;
  width: 190px;
  background-color: yellow;
  display: inline-block;
  margin: 20px 5px 20px 20px;
}

#advertisement {
  height: 120px;
  width: 630px;
  background-color: purple;
  margin: 0px 20px;
}
